<div class="gallery_main_images images-row">

    <a href="./images/house/short/img_short_1.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_1.webp">
            <img src="./images/house/short/min/img_short_min_1.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_7.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_7.webp">
            <img src="./images/house/short/min/img_short_min_7.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_14.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_14.webp">
            <img src="./images/house/short/min/img_short_min_14.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_15.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_15.webp">
            <img src="./images/house/short/min/img_short_min_15.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_20.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_20.webp">
            <img src="./images/house/short/min/img_short_min_20.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_21.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_21.webp">
            <img src="./images/house/short/min/img_short_min_21.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_22.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_22.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_22.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_25.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_25.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_25.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_27.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_27.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_27.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_44.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_44.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_44.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_45.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_45.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_45.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_43.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_43.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_43.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_42.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_42.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_42.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_41.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_41.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_41.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_40.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_40.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_40.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_34.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_34.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_34.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_33.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_33.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_33.jpg" alt="House_image">
        </picture>
    </a>

    <a href="./images/house/short/img_short_29.jpg"  data-fancybox="images">
        <picture>
            <source type="image/webp" srcset="./images/house/short/min/img_short_min_29.webp">
            <img class='lazy' data-src="./images/house/short/min/img_short_min_29.jpg" alt="House_image">
        </picture>
    </a>


</div>
