<article class="gallery_description">

    <h3>
        Видеообзор о доме
    </h3>

    <div class="gallery_video">
        //= ./gallery_video.html
    </div>

    <div class="gallery_contacts">
        <p>
            Узнать более детальныую информацию:
        </p>

        <div class="gallery_contacts-links">
            <a href="./contact.html">
                Связь с нами
            </a>

            <a href="./all_info.rar" download>
                Скачать все фотографии <i class="icon-download"></i>
            </a>
        </div>

    </div>


</article>
