<a href="./images/house/long/img_long_1.jpg"  data-fancybox="images">
    <picture>
        <source type="image/webp" srcset="./images/house/long/min/img_long_min_1.webp">
        <img src="./images/house/long/min/img_long_min_1.jpg" alt="House_image">
    </picture>
</a>
<a href="./images/house/long/img_long_3.jpg"  data-fancybox="images">
    <picture>
        <source type="image/webp" srcset="./images/house/long/min/img_long_min_3.webp">
        <img src="./images/house/long/min/img_long_min_3.jpg" alt="House_image">
    </picture>
</a>
<a href="./images/house/long/img_long_4.jpg"  data-fancybox="images">
    <picture>
        <source type="image/webp" srcset="./images/house/long/min/img_long_min_4.webp">
        <img src="./images/house/long/min/img_long_min_4.jpg" alt="House_image">
    </picture>
</a>
<a href="./images/house/long/img_long_5.jpg"  data-fancybox="images">
    <picture>
        <source type="image/webp" srcset="./images/house/long/min/img_long_min_5.webp">
        <img class='lazy' data-src="./images/house/long/min/img_long_min_5.jpg" alt="House_image">
    </picture>
</a>

<a href="./images/house/long/img_long_8.jpg"  data-fancybox="images">
    <picture>
        <source type="image/webp" srcset="./images/house/long/min/img_long_min_8.webp">
        <img class='lazy' data-src="./images/house/long/min/img_long_min_8.jpg" alt="House_image">
    </picture>
</a>

<a href="./images/house/long/img_long_9.jpg"  data-fancybox="images">
    <picture>
        <source type="image/webp" srcset="./images/house/long/min/img_long_min_9.webp">
        <img class='lazy' data-src="./images/house/long/min/img_long_min_9.jpg" alt="House_image">
    </picture>
</a>

<a href="./images/house/long/img_long_6.jpg"  data-fancybox="images">
    <picture>
        <source type="image/webp" srcset="./images/house/long/min/img_long_min_6.webp">
        <img class='lazy' data-src="./images/house/long/min/img_long_min_6.jpg" alt="House_image">
    </picture>
</a>
