//= ../components/_header-page.html

<title>Контакты</title>
</head>
<body>
<noscript><div><img src="https://mc.yandex.ru/watch/64668985" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<div class="wrapper-page">

    //= ../components/header/header_nav-page.html

    <main class="main-page">

        <section class="contact-page">

            //= ../components/contact-page/contact_title.html

            //= ../components/contact-page/contact_form.html

        </section>

    </main>

</div>

//= ../components/_footer-page.html