
.icon-videocam:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-picture-1:before { content: '\e802'; } /* '' */
.icon-art-gallery:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-mail-circled:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-mail-1:before { content: '\e807'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-vkontakte-1:before { content: '\f189'; } /* '' */
.icon-odnoklassniki:before { content: '\f30c'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\f30d'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */