<div class="main_block-media">
    <a onclick="ym(56361208, 'reachGoal', 'button_house'); return true;" href="#popup_info-house" data-fancybox="iframe" data-touch="false" class="block_media-info block-media">
        <i class="icon-info block_media-icon"></i>

        <p class="block_media-paragraph">
            Информация О Доме
        </p>
    </a>

    <a href="./gallery.html" class="block_media-gallery block-media">
        <i class="icon-art-gallery block_media-icon"></i>

        <p class="block_media-paragraph">
            Просмотреть Галерею
        </p>
    </a>

    <a onclick="ym(56361208, 'reachGoal', 'button_area'); return true;" href="#popup_info-area" data-fancybox="iframe" data-touch="false" class="block_media-info block-media">
        <i class="icon-info block_media-icon"></i>

        <p class="block_media-paragraph">
            Информация Об Участке
        </p>
    </a>





    //= ../popup/main_popup-info--area.html
    //= ../popup/main_popup-info--house.html
</div>
