<header class="container header_top">

    <div class="header_text d-n-m">
        <p>
            Дом с участком в Крыму
        </p>
        <p>
            Хороший вид на море
        </p>
    </div>


    <div class="header_logo">

        <a href="./index.html">
            <img src="./images/logo.svg" alt="logo">
        </a>

    </div>

    <div class="header_contacts">
        <a href="tel:79788635393" class="call_phone">
            +7 (978) 863-53-93
        </a>

        <ul>
            <li class="link-vk">
                <a href="https://vk.com/id564953901">
                    <i class="icon-vkontakte-1"></i>
                </a>
            </li>
            <li class="link-od">
                <a href="https://ok.ru/profile/578475346826">
                    <i class="icon-odnoklassniki"></i>
                </a>
            </li>
            <li class="link-mail">
                <a href="mailto:prodam_dom_krim@mail.ru?subject=Письмо с сайте по продаже дома"
                   target="_blank">
                    <i class="icon-mail"></i>
                </a>
            </li>
        </ul>
    </div>

</header>